<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../css/fotomash.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div class="ImageViewer">
        <div class="ImageDetails">
        	<div class="BigImg"></div>
            <div class="ImageDescription">
            <div class="ImgTagHead">File Name</div>
            <div class="TagDetails">Udaipur Lake Palace.jpg </div>
            <div class="ImgTagHead">Source Site</div>
            <div class="TagDetails">Wikimedia Commons</div>
            <div class="ImgTagHead">Size and Type of image</div>
            <div class="TagDetails">3044 x 2032 · 3244 kB · jpeg</div>
            <div class="ImgTagHead">Source Url:</div>
            <div class="TagDetails">commons.wikimedia.org</div>
            <div class="ImgTagHead">Source Search Engine</div>
            <div class="TagDetails">Google.Com</div>
            <a href="#">Click to view image in original size</a>
            </div>
        </div>
    </div>
</body>
</html>
